<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>Ihre digitale Mieterakte / Your digital tenant file</title>
</head>
<body>
  <p>Sehr geehrte/r {{ recipient_name }},</p>
  <p>bald findet Ihr Auszug statt. Hier sind nochmal Ihre Zugangsdaten für die digitale Mieterakte.</p>
  <p>Hier sind die Zugangsdaten:</p>
  <p>Link zur digitalen Mieterakte:<br><a href="{{ share_link }}">{{ share_link }}</a></p>
  <p>Web-Passwort:<br>{{ share_password }}</p>
  <p>Die Freigabe ist gültig bis:<br>{{ expiration_date }}</p>
  <p>In der Mieterakte finden Sie wichtige Dokumente wie Ihr Einzugs- und Auszugsprotokoll sowie die Wohnungsgeberbescheinigung.</p>
  <p>Bei weiteren Fragen stehen wir Ihnen gerne zur Verfügung.</p>
  <p>Mit freundlichen Grüßen</p>
  <p>Dear {{ recipient_name }},</p>
  <p>Your move-out date is approaching. Here are your login details for the digital tenant file once again.</p>
  <p>Here are the login details:</p>
  <p>Link to the digital tenant file:<br><a href="{{ share_link }}">{{ share_link }}</a></p>
  <p>Web password:<br>{{ share_password }}</p>
  <p>The share is valid until:<br>{{ expiration_date }}</p>
  <p>In the tenant file, you will find important documents such as your move-in and move-out reports and the landlord's certificate.</p>
  <p>If you have any further questions, please do not hesitate to contact us.</p>
  <p>Kind regards</p>
  <p>
    Abteilung Wohnen<br>
    Rheingutstraße 34<br>
    78462 Konstanz<br>
    Tel +49 7531 - 9782 800<br>
    wohnen@seezeit.com<br>
    <a href="https://seezeit.com">https://seezeit.com</a>
  </p>
  <p>
    Seezeit Studierendenwerk Bodensee AöR<br>
    Universitätsstraße 10<br>
    78464 Konstanz<br>
    Geschäftsführerin Gisa Klaus<br>
    Datenschutzerklärung
  </p>
</body>
</html>
