<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>Ihre digitale Mieterakte / Your digital tenant file</title>
</head>
<body>
  <p>Sehr geehrte/r {{ recipient_name }},</p>
  <p>herzlich willkommen bei Seezeit. Für Ihre digitale Mieterakte stellen wir Ihnen hier die Zugangsdaten bereit.</p>
  <p>Link zur digitalen Mieterakte:<br><a href="{{ share_link }}">{{ share_link }}</a></p>
  <p>Link zum Onlineportal:<br><a href="https://tl1.eu/SWKN/#home">https://tl1.eu/SWKN/#home</a></p>
  <p>Web-Passwort:<br>{{ share_password }}</p>
  <p>Bitte bewahren Sie diese Zugangsdaten sorgfältig auf. In der digitalen Mieterakte finden Sie wichtige Dokumente rund um Ihren Einzug und Ihr Mietverhältnis.</p>
  <p>Bei weiteren Fragen stehen wir Ihnen gerne zur Verfügung.</p>
  <p>Mit freundlichen Grüßen</p>
  <p>Dear {{ recipient_name }},</p>
  <p>Welcome to Seezeit. We are providing your login details for the digital tenant file here.</p>
  <p>Link to the digital tenant file:<br><a href="{{ share_link }}">{{ share_link }}</a></p>
  <p>Link to the online portal:<br><a href="https://tl1.eu/SWKN/#home">https://tl1.eu/SWKN/#home</a></p>
  <p>Web password:<br>{{ share_password }}</p>
  <p>Please keep these login details safe. In the digital tenant file, you will find important documents relating to your move-in and tenancy.</p>
  <p>If you have any further questions, please do not hesitate to contact us.</p>
  <p>Kind regards</p>
  <p>
    Abteilung Wohnen<br>
    Rheingutstraße 34<br>
    78462 Konstanz<br>
    Tel +49 7531 - 9782 800<br>
    wohnen@seezeit.com<br>
    <a href="https://seezeit.com">https://seezeit.com</a>
  </p>
  <p>
    Seezeit Studierendenwerk Bodensee AöR<br>
    Universitätsstraße 10<br>
    78464 Konstanz<br>
    Geschäftsführerin Gisa Klaus<br>
    Datenschutzerklärung
  </p>
</body>
</html>
